.text_right{
    float: right;
}

.bordering_right{
/*    border-right: 1px solid #000;*/
    margin: 20px 0;
    padding: 20px 40px;
}

.image_right{
    height: 100%;
    position: absolute;
    /* right: 0; */
    top: 0;
    margin-right: 15px;
    background-size: cover;
    background-position: center;
}

.image_center{
    text-align: center;
}

.mobile{
    display:none;
}

.team_id{
    margin-left: 10%;
}

@media only screen and (max-width: 700px) {
    .desktop{
        display:none;
    }
    .mobile{
        width:100%;
        height:100%;
        display:block;
    }
	p{
		font-size: 14px;
	}
    .team_id{
        margin-left: 0%;
    }
}
@media only screen and (min-width: 701px) and (max-width:768px) {
	.boxs-relative-development{
		margin-left:20%;
	}
}