
.bwWrapper img	{
	border:1px solid #ccc;	
}

.HomeText	{
	padding:50px 0px 0px 0px;
}
.HomeText strong	{
	font-size:24px;
}

.boxs-relative h3	{
	font-size:18px; 
	letter-spacing:0px;	
}

.audioStickyIcons	{
	position: fixed;
    bottom: 2%;
    right: 2%;
    z-index: 1000;	
}

.collectionTitleDescription	{
	color:#ffffff;	
}

.textJustification	{
	text-align:justify !important;	
}

.headingUnderline	{
	height: 40px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;	
}

.headingUnderline h3	{
    border-bottom: 0px;
}

.noDisplay	{
	display: none;
}
.content-title1 {
    margin: auto auto 40px;
    text-align: center;
    text-transform: uppercase;
	max-width:1500px;
	font-size: 27px;
	letter-spacing: 3px;
}

.boxs-title1 {
    border-bottom: 1px solid #ccc;
    font-family: Raleway;
    font-size: 18px;
    letter-spacing: 5px;
    line-height: 1;
    margin: 0 5px 30px 0;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.boxs-relative-contact{
	margin-top:10px;
}

.suarezQuote	{
	font-style: italic;
	text-align: justify;
    line-height: 22px;
    color: #564A4A;
    background-color: #ddd;
    border-radius: 10px;
    padding: 20px;
}

.suarezQuote span	{
	font-size: 24px;
}

@media (max-width:992px) {

.content-title1 {
    margin-bottom: 20px;
}
.boxs-title1 
 h3{
font-size:21px;
border-bottom: 1px solid #ccc;
}
	
.boxs-relative h3	{
	font-size:16px; 
	letter-spacing:0px;	
}
.boxs-relative-contact{
	margin-top:0px;
}
}
@media (max-width: 767px) {

.content-title1 {
    font-size: 27px;
}
.boxs-title1 
 h3{
font-size:21px;
border-bottom: 1px solid #ccc;
}
	
.boxs-relative h3	{
	font-size:16px; 
	letter-spacing:0px;	
}
.boxs-relative{
	padding-top:0px;
}
	.boxs-relative-contact{
	margin-top:0px;
}
}
@media (min-width: 768px) { 
.boxs-relative-contact{
	margin-top:0px;
}
}
@media (max-width: 768px) { 

.boxs-title {
    margin: 30px 80px 30px 0 !important;
}
.boxs-title1 
 h3{
font-size:21px;
border-bottom: 1px solid #ccc;
}
	
.boxs-relative h3	{
	font-size:16px; 
	letter-spacing:0px;	
}
.boxs-relative-contact{
	margin-top:0px;
}
}
@media (max-width: 568px) {

.content-title1 {
    font-size:16px;
}
.boxs-title1 
{
	font-size:16px;
}
.boxs-title1 
 h3{
font-size:21px;
border-bottom: 1px solid #ccc;
}
	
.boxs-relative h3	{
	font-size:16px; 
	letter-spacing:0px;	
}

}
