   <div id="myModal9" class="modalBooking modalPopup">
				  <!-- Modal content -->
				  <div class="modalBooking-content">
					<div style="border: 1px solid #ccc; padding-top: 20px;" class="content clearfix">
						<div class="container work-content" >


							<div class="box-relative clearfix">
								<a class="closeBooking"><i class="fa fa-times"></i></a>                   
                                <h3 class="big-title">Luis Suarez<br>
								Founder, CEO
									</h3>
                            </div><!--/.box-relative-->
                            <div class="clearboth"></div>
                            <p style="padding-right:20px;">
                                <b>Safety meets flexibility with this versatile retractable hairdryer, specially designed for hotels.</b>
                            </p>
                            <p>
                                &bull; 	Specially Designed for pleasant use<br>
                                &bull; 	180cm auto-rolling retractable cord<br>
                                &bull; 	Easy pull out and press to retract<br>
                                &bull; 	Foldable design to make storage<br>
                                &bull; 	Dual over-heat protection<br>
                                &bull; 	Thumb ON/OFF cool air switch<br>
                                &bull; 	3 Heats & 2 Air Speeds, various drying & styling choices<br>
                                &bull; 	Cool Matt-Black finish, stylish, versatile & comfortable<br>
                                &bull; 	Ergonomic Handle Design for a relaxing hold<br>
                                &bull; 	Built-in Hanging Loop for more storage option<br>
                                &bull; 	Detachable Inlet Air Cover / Dust Filter<br>
                                &bull; 	360° Removable Air-flow Nozzle for better hair styling<br>
                                &bull; 	1750-2100W, 220-240V, 50-60Hz, UK plug<br>
                                &bull; 	CE, GS, RoHS, CB certified, 2 Years Warranty.
        
                            </p>
                                    <div class="spacing40"></div>
                            
                                <div class="col-md-8 col-sm-6 port-item rectangle_hair_dryer">
                                    <div  class="sliderajax clearfix">
                                        <div class="slider" data-auto-play="1000">
                                            <div class="slide"><img src="images/work/1.1.jpg" alt="Sty-Lux. The Hairdryer"></div>
                                            <div class="slide"><img src="images/work/1.2.jpg" alt="Sty-Lux. The Hairdryer"></div>
                                            <div class="slide"><img src="images/work/1.3.jpg" alt="Sty-Lux. The Hairdryer"></div>
                                            <div class="slide"><img src="images/work/1.4.jpg" alt="Sty-Lux. The Hairdryer"></div>
                                            <div class="slide"><img src="images/work/1.5.jpg" alt="Sty-Lux. The Hairdryer"></div>
                                            <div class="slide"><img src="images/work/1.6.jpg" alt="Sty-Lux. The Hairdryer"></div>
                                        </div>
                                    </div>
                            </div>
							<!--<a class="go-btn" href="#">View Website <i class="fa fa-long-arrow-right"></i></a>-->
							<div class="spacing10"></div>

						</div><!--/.container-->
                
					</div>
				  </div>

				</div>
                
               <div id="myModal1" class="modalBooking modalPopup">
				  <!-- Modal content -->
				  <div class="modalBooking-content">
					<div style="border: 1px solid #ccc; padding-top: 20px;" class="content clearfix">
						<div class="container work-content" >


							<div class="box-relative clearfix">
								<a class="closeBooking"><i class="fa fa-times"></i></a>
								<h3 class="big-title">Sty-Lux. The Hairdryer</h3>
							</div><!--/.box-relative-->
							<div class="clearboth"></div>
							<p style="padding-right:20px;">
								<b>Indulgent comfort now comes with inbuilt safety, with a hairdryer specially designed for the hospitality industry.</b>
							</p>
							<p>
								&bull; 	Specially designed for high-end true hospitality use<br>
								&bull; 	Professional salon AC motor - top speed 20m/second with strong wind. Dries hair within minutes<br>
								&bull; 	Unique air nozzle design, airflow boosting and cooling. Will not heat up when win wind blows for a long time<br>
								&bull; 	304 stainless steel wind mesh at the air outlet, to make wind and temperature more well distributed<br>
								&bull; 	Stylish T-body balance design handles, no tilt forward for backward, easier & more comfortable for users<br>
								&bull; 	The air inlets adopt seven swept-back wind wheels, giving you a more stable, continuous and powerful wind supply. (Regular hair dryers are equipped with four wind wheels)<br>
								&bull; 	Thermostat comes with a dual over-heat protection, emphasizing the safety aspect of this luxurious hairdryer<br>
								&bull; 	The press-on and release-off micro switch makes it safer and more energy-effective<br>
								&bull; 	Available with a choice of 3 heat selections and 2 air-speeds with ionic function<br>
								&bull; 	The metal cover at the back prevents hair pinching<br>
								&bull; 	The 250cm Elastic cord, provides optimized cord storage<br>
								&bull; 	Glossy white hairdryer with a luxuriously stylish finish (Matt black +2$US)<br>
								&bull; 	1800W, 220-240V, 50-60Hz, UK plug
							</p>
									<div class="spacing40"></div>

							<div class="col-md-8 col-sm-6 port-item rectangle_hair_dryer">
									<div  class="sliderajax clearfix">
										<div class="slider" data-auto-play="1000">
											<!--<div class="slide"><img src="images/work/1.1.jpg" alt="Sty-Lux. The Hairdryer"></div>
											<div class="slide"><img src="images/work/1.2.jpg" alt="Sty-Lux. The Hairdryer"></div>
											<div class="slide"><img src="images/work/1.3.jpg" alt="Sty-Lux. The Hairdryer"></div>
											<div class="slide"><img src="images/work/1.4.jpg" alt="Sty-Lux. The Hairdryer"></div>
											<div class="slide"><img src="images/work/1.5.jpg" alt="Sty-Lux. The Hairdryer"></div>
											<div class="slide"><img src="images/work/1.6.jpg" alt="Sty-Lux. The Hairdryer"></div>-->
											<div class="slide"><img src="images/work/1.7.jpg" alt="Sty-Lux. The Hairdryer"></div>
											<div class="slide"><img src="images/work/1.8.jpg" alt="Sty-Lux. The Hairdryer"></div>
											<div class="slide"><img src="images/work/1.9.jpg" alt="Sty-Lux. The Hairdryer"></div>
											<div class="slide"><img src="images/work/1.10.jpg" alt="Sty-Lux. The Hairdryer"></div>
											<div class="slide"><img src="images/work/1.11.jpg" alt="Sty-Lux. The Hairdryer"></div>
											<div class="slide"><img src="images/work/1.12.jpg" alt="Sty-Lux. The Hairdryer"></div>
											<div class="slide"><img src="images/work/1.13.jpg" alt="Sty-Lux. The Hairdryer"></div>
											<div class="slide"><img src="images/work/1.14.jpg" alt="Sty-Lux. The Hairdryer"></div>
										</div><!--/.slider-->
									</div>
							</div>

							<!--<a class="go-btn" href="#">View Website <i class="fa fa-long-arrow-right"></i></a>-->
							<div class="spacing10"></div>

						</div><!--/.container-->
                
					</div>
				  </div>

				</div>
                
                <div id="myModal2" class="modalBooking modalPopup">
				  <!-- Modal content -->
				  <div class="modalBooking-content">
					<div style="border: 1px solid #ccc; padding-top: 20px;" class="content clearfix">
						<div class="container work-content" >


							<div class="box-relative clearfix">
								<a class="closeBooking"><i class="fa fa-times"></i></a>                   
								<h3 class="big-title">Jarvis. The handy Steam Iron</h3>
							</div><!--/.box-relative-->
							<div class="clearboth"></div>
							<p style="padding-right:20px;">
								<b>Jarvis is an elegant, multifunctional Steam Iron emphasizing hi-end extra safety standards. It is easy to maintain, comfortable to handle and comes with world-class ergonomics integrated into its design.</b>
							</p>
							<p>
								&bull; 	Specially designed for true hospitality use;<br>
								&bull;	Stearn / Spray / Dry Ironing controls, more variable Ironing experience;<br>
								&bull;	Powerful burst of steam to make your garments more Docile & smooth;<br>
								&bull;	Auto shut-off (30 sec. when unused and horizontal, 8 min. when vertical), User Safety emphasis;<br>
								&bull;	Overheat protection, Indicator light for auto off & in use status, extra safe;<br>
								&bull;	Adjustable thermostat for different garment ironing options;<br>
								&bull;	Large soleplate 22.5.12cm for more effective Ironing;<br>
								&bull;	Anti-drip, Anti-calc, Self-cleaning & Non-stick soleplate, easy maintenance;<br>
								&bull;	Soft rubber handle, a more comfortable hold;<br>
								&bull;	200m1 water tank, sufficient and water-saving;<br>
								&bull;	3 meters extra long cable, 360 degree revolving cable guard;<br>
								&bull;	Product Size: 29.12.14cm;<br>
								&bull;	1600W, 220-240V, 50-60Hz, EU plug (UK +$0.5);<br>
								&bull;	CE, CB, GS, RoHS certified, 2 Years Warranty.
							</p>
									<div class="spacing40"></div>

							<div class="col-md-8 col-sm-6 port-item rectangle_hair_dryer">
									<div  class="sliderajax clearfix">
										<div class="slider" data-auto-play="1000">
											<div class="slide"><img src="images/work/2.1.jpg" alt="Steam Iron JARVIS"></div>
											<div class="slide"><img src="images/work/2.2.jpg" alt="Steam Iron JARVIS"></div>
											<div class="slide"><img src="images/work/2.3.jpg" alt="Steam Iron JARVIS"></div>
										</div><!--/.slider-->
									</div>
							</div>

							<!--<a class="go-btn" href="#">View Website <i class="fa fa-long-arrow-right"></i></a>-->
							<div class="spacing10"></div>

						</div><!--/.container-->
                
					</div>
				  </div>

				</div>

                <div id="myModal3" class="modalBooking modalPopup">
				  <!-- Modal content -->
				  <div class="modalBooking-content">
					<div style="border: 1px solid #ccc; padding-top: 20px;" class="content clearfix">
						<div class="container work-content" >


							<div class="box-relative clearfix">
								<a class="closeBooking"><i class="fa fa-times"></i></a>                   
                                <h3 class="big-title">Ironman. The smart Ironing Center</h3>
                            </div><!--/.box-relative-->
                            <div class="clearboth"></div>
                            <p style="padding-right:20px;">
                                <b>Ironman is a smart and dexterous ironing center, a study in world class ergonomic design. It is perfect for both left handed and right handed guests and provides a smooth and comfortable ironing experience.</b>
                            </p>
                            <p>
                                &bull;	Easy-assembling solution to save hassles for hotels<br>
                                &bull;	360 degree rotatable and organizer friendly for left or right handed guests<br>
                                &bull;	Three sides protection from the organizer to well secure irons, with anti-theft system for cable<br>
                                &bull;	Easy storage with hook hanging in closet 136*38*24cm (folded including steam iron DOCILE), space friendly<br>
                                &bull;	High quality strengthened steel structure with unique semi-matt black finish<br>
                                &bull;	Double-leg + Square-leg structure with non-skid feet covers for sturdy standing with 7 levels of adjustable height (68-85cm), mechanical locking system<br>
                                &bull;	Easy replacement fire-retardant elastic cover with 8mm high density cotton padding for a more comfortable ironing<br>
                                &bull;	Extra large ironing space 110*28cm<br>
                                &bull;	Stylish Black Grey color
                            </p>
                                    <div class="spacing40"></div>
                            
                            <div class="col-md-8 col-sm-6 port-item rectangle_hair_dryer">
                                    <div  class="sliderajax clearfix">
                                        <div class="slider" data-auto-play="1000">
                                            <div class="slide"><img src="images/work/3.1.jpg" alt="Ironing Center IRONMAN"></div>
                                            <div class="slide"><img src="images/work/3.2.jpg" alt="Ironing Center IRONMAN"></div>
                                            <div class="slide"><img src="images/work/3.3.jpg" alt="Ironing Center IRONMAN"></div>
                                            <div class="slide"><img src="images/work/3.4.jpg" alt="Ironing Center IRONMAN"></div>
                                    </div><!--/.slider-->
                                    </div>
                            </div>
							<!--<a class="go-btn" href="#">View Website <i class="fa fa-long-arrow-right"></i></a>-->
							<div class="spacing10"></div>

						</div><!--/.container-->
                
					</div>
				  </div>

				</div>
                
                <div id="myModal4" class="modalBooking modalPopup">
				  <!-- Modal content -->
				  <div class="modalBooking-content">
					<div style="border: 1px solid #ccc; padding-top: 20px;" class="content clearfix">
						<div class="container work-content" >


							<div class="box-relative clearfix">
								<a class="closeBooking"><i class="fa fa-times"></i></a>                   
                                <h3 class="big-title">Toastman. The tasteful Toaster</h3>
                            </div><!--/.box-relative-->
                            <div class="clearboth"></div>
                            <p style="padding-right:20px;">
                                <b>Easy to maintain and effortless to handle, the Toastman provides a tasteful balance in protection and hi-end design. Safety never looked this good.</b>
                            </p>
                            <p>
                                &bull;	Stainless steel housing brushed finish with a steady wide plastic base<br>
                                &bull;	Defrost/Reheat/Cancel functions with variable browning control<br>
                                &bull;	Auto shut-off, indicator light, safety emphasis<br>
                                &bull;	Neat cord storage and anti-slip feet<br>
                                &bull;	Removable crumb tray<br>
                                &bull;	Product size: 170*270*190mm<br>
                                &bull;	900W/220V/50Hz. Cable length: 73cm EU plug (UK+0.5)<br>
                                &bull;	GS, CE, CB, GS RoHS, LFGB certified, 2 Years Warranty
                            </p>
                                    <div class="spacing40"></div>
                            
                            <div class="col-md-8 col-sm-6 port-item rectangle_hair_dryer">
                                    <div  class="sliderajax clearfix">
                                        <div class="slider" data-auto-play="1000">
                                            <div class="slide"><img src="images/work/4.1.jpg" alt="Toaster TOASTMAN"></div>
                                            <div class="slide"><img src="images/work/4.2.jpg" alt="Toaster TOASTMAN"></div>
                                            <div class="slide"><img src="images/work/4.3.jpg" alt="Toaster TOASTMAN"></div>
                                            <div class="slide"><img src="images/work/4.4.jpg" alt="Toaster TOASTMAN"></div>
                                    </div><!--/.slider-->
                                    </div>
                            </div>
							<!--<a class="go-btn" href="#">View Website <i class="fa fa-long-arrow-right"></i></a>-->
							<div class="spacing10"></div>

						</div><!--/.container-->
                
					</div>
				  </div>

				</div>

                <div id="myModal5" class="modalBooking modalPopup">
				  <!-- Modal content -->
				  <div class="modalBooking-content">
					<div style="border: 1px solid #ccc; padding-top: 20px;" class="content clearfix">
						<div class="container work-content" >


							<div class="box-relative clearfix">
								<a class="closeBooking"><i class="fa fa-times"></i></a>                   
                                <h3 class="big-title">Tune. The Capsule Coffee Machine</h3>
                            </div><!--/.box-relative-->
                            <div class="clearboth"></div>
                            <p style="padding-right:20px;">
                                <b>It sets the trend for memorable coffee experience and tops it with superior technology and ergonomics. Coffee aficionados in the hospitality industry now have a new machine to swear by.</b>
                            </p>
                            <p>
                                &bull;	Trendy design for excellent coffee experience<br>
                                &bull;	Automation ejection system for Nespresso compatible capsules<br>
                                &bull;	20 bar Italian pump, professional extraction technology for excellent coffee<br>
                                &bull;	Easy-press buttons to choose preferred coffee volume<br>
                                &bull;	Preheating function: fast warming up in 20 seconds to ensure coffee taste<br>
                                &bull;	Adjustable dip tray fro small, big or extra big cup (American cup)<br>
                                &bull;	Automatic power off after 5 min, ERP function for energy saving<br>
                                &bull;	700 ml removable water reservoir<br>
                                &bull;	Recycle container for 12pcs used capsules<br>
                                &bull;	Simple stylish white, optional colours: black, red, silver<br>
                                &bull;	Compact size 354:116*242mm<br>
                                &bull;	1499W/AC220-240V/50Hz EU plug (UK+0.5)<br>
                                &bull;	CE, CB, GS RoHS, LFGB certified, 2 Years Warranty
                            </p>
                                    <div class="spacing40"></div>
                            
                            <div class="col-md-8 col-sm-6 port-item rectangle_hair_dryer">
                                    <div  class="sliderajax clearfix">
                                        <div class="slider" data-auto-play="1000">
                                            <div class="slide"><img src="images/work/5.1.jpg" alt="Capsule Coffee Machine TUNE"></div>
                                            <div class="slide"><img src="images/work/5.2.jpg" alt="Capsule Coffee Machine TUNE"></div>
                                            <div class="slide"><img src="images/work/5.3.jpg" alt="Capsule Coffee Machine TUNE"></div>
                                            <div class="slide"><img src="images/work/5.4.jpg" alt="Capsule Coffee Machine TUNE"></div>
                                            <div class="slide"><img src="images/work/5.5.jpg" alt="Capsule Coffee Machine TUNE"></div>
                                    </div><!--/.slider-->
                                    </div>
                            </div>
							<!--<a class="go-btn" href="#">View Website <i class="fa fa-long-arrow-right"></i></a>-->
							<div class="spacing10"></div>

						</div><!--/.container-->
                
					</div>
				  </div>

				</div>

                <div id="myModal6" class="modalBooking modalPopup">
				  <!-- Modal content -->
				  <div class="modalBooking-content">
					<div style="border: 1px solid #ccc; padding-top: 20px;" class="content clearfix">
						<div class="container work-content" >


							<div class="box-relative clearfix">
								<a class="closeBooking"><i class="fa fa-times"></i></a>                   
                                <h3 class="big-title">Vega. The stylish Kettle</h3>
                            </div><!--/.box-relative-->
                            <div class="clearboth"></div>
                            <p style="padding-right:20px;">
                                <b>Safety now finds a new balance with style. Add dash of dexterity to it and you have Vega, the 1.2 L Kettle, perfect for your hotel.</b>
                            </p>
                            <p>
                                &bull;	Capacity 1.2L<br>
                                &bull;	Food grade 304 stainless steel housing with luxury brushed finish<br>
                                &bull;	Dual Safety Strix Controller: Auto shut-off, boil-dry protection and accurate temperature control<br>
                                &bull;	Concealed heating element, removable filter with transparent water gauge for easy maintenance<br>
                                &bull;	User friendly 360 degree cordless base for left and right handed guests with neat cord storage<br>
                                &bull;	1500W/220-240V/50-60Hz, Cable length 73cm EU plug (UK+0.5)<br>
                                &bull;	CE, GS certified, 2 Years Warranty
                            </p>
                                    <div class="spacing40"></div>
                            
                            <div class="col-md-8 col-sm-6 port-item rectangle_hair_dryer">
                                    <div  class="sliderajax clearfix">
                                        <div class="slider" data-auto-play="1000">
                                            <div class="slide"><img src="images/work/6.1.jpg" alt="1L Kettle VEGA"></div>
                                            <div class="slide"><img src="images/work/6.2.jpg" alt="1L Kettle VEGA"></div>
                                            <div class="slide"><img src="images/work/6.3.jpg" alt="1L Kettle VEGA"></div>
                                            <div class="slide"><img src="images/work/6.4.jpg" alt="1L Kettle VEGA"></div>
                                            <div class="slide"><img src="images/work/6.5.jpg" alt="1L Kettle VEGA"></div>
                                    </div><!--/.slider-->
                                    </div>
                            </div>
							<!--<a class="go-btn" href="#">View Website <i class="fa fa-long-arrow-right"></i></a>-->
							<div class="spacing10"></div>

						</div><!--/.container-->
                
					</div>
				  </div>

				</div>

                <div id="myModal7" class="modalBooking modalPopup">
				  <!-- Modal content -->
				  <div class="modalBooking-content">
					<div style="border: 1px solid #ccc; padding-top: 20px;" class="content clearfix">
						<div class="container work-content" >


							<div class="box-relative clearfix">
								<a class="closeBooking"><i class="fa fa-times"></i></a>                   
                                <h3 class="big-title">Comet. The friendly Kettle</h3>
                            </div><!--/.box-relative-->
                            <div class="clearboth"></div>
                            <p style="padding-right:20px;">
                                <b>Big things come in small packages. Presenting Comet, the safe, functional, durable and eco-friendly kettle.</b>
                            </p>
                            <p>
                                &bull;	Anti-scald triple walled structure with food grade 304 stainless steel inner wall +insulation layer between+ stainless steel wall<br>
                                &bull;	Options in Brushed finish/Black/Champagne/White<br>
                                &bull;	Dual safety Strix controller, Auto shutoff, Boil dry protection and accurate temperature control<br>
                                &bull;	Concealed heating element, invisible cord storage, easy to maintain, user friendly<br>
                                &bull;	One-button press open lid design<br>
                                &bull;	360 degree cordless base for left and right handed guests <br>
                                &bull;	1350-1650W/220-240V/50-60Hz, Cable length 73cm EU plug (UK+0.5)<br>
                                &bull;	CE, GS certified, 2 Years Warranty
                            </p>
                                    <div class="spacing40"></div>
                            
                            <div class="col-md-8 col-sm-6 port-item rectangle_hair_dryer">
                                    <div  class="sliderajax clearfix">
                                        <div class="slider" data-auto-play="1000">
                                            <div class="slide"><img src="images/work/7.1.jpg" alt="0.8L Kettle COMET"></div>
                                            <div class="slide"><img src="images/work/7.2.jpg" alt="0.8L Kettle COMET"></div>
                                            <div class="slide"><img src="images/work/7.3.jpg" alt="0.8L Kettle COMET"></div>
                                            <div class="slide"><img src="images/work/7.4.jpg" alt="0.8L Kettle COMET"></div>
                                            <div class="slide"><img src="images/work/7.5.jpg" alt="0.8L Kettle COMET"></div>
                                    </div><!--/.slider-->
                                    </div>
                            </div>
							<!--<a class="go-btn" href="#">View Website <i class="fa fa-long-arrow-right"></i></a>-->
							<div class="spacing10"></div>

						</div><!--/.container-->
                
					</div>
				  </div>

				</div>

                <div id="myModal8" class="modalBooking modalPopup">
				  <!-- Modal content -->
				  <div class="modalBooking-content">
					<div style="border: 1px solid #ccc; padding-top: 20px;" class="content clearfix">
						<div class="container work-content" >


							<div class="box-relative clearfix">
								<a class="closeBooking"><i class="fa fa-times"></i></a>                   
                                <h3 class="big-title">Galaxy. The welcome tray</h3>
                            </div><!--/.box-relative-->
                            <div class="clearboth"></div>
                            <p style="padding-right:20px;">
                                <b>Stylish and luxurious, this tray allows for easy maintenance and better safety.</b>
                            </p>
                            <p>
                                &bull;	Large size W450*D320*H40 for coffee machine<br>
                                &bull;	Solid wood in ultra-strong matt black lacquer<br>
                                &bull;	Compact all in one design with compartments for kettle, coffee capsules, tea bags, sugar/creamer sticks, spoons etc<br>
                                &bull;	Round corner treatment for compartments<br>
                                &bull;	Wire guidance and lock (anti-theft) for kettle<br>
                                &bull;	4 furniture protective gliders at bottom<br>
                                &bull;	Kettle and Mugs can be provided upon request
                            </p>
                                    <div class="spacing40"></div>
                            
                            <div class="col-md-8 col-sm-6 port-item rectangle_hair_dryer">
                                    <div  class="sliderajax clearfix">
                                        <div class="slider" data-auto-play="1000">
                                            <div class="slide"><img src="images/work/8.1.jpg" alt="Welcome Tray GALAXY"></div>
                                            <div class="slide"><img src="images/work/8.2.jpg" alt="Welcome Tray GALAXY"></div>
                                            <div class="slide"><img src="images/work/8.3.jpg" alt="Welcome Tray GALAXY"></div>
                                            <div class="slide"><img src="images/work/8.4.jpg" alt="Welcome Tray GALAXY"></div>
                                    </div><!--/.slider-->
                                    </div>
                            </div>
							<!--<a class="go-btn" href="#">View Website <i class="fa fa-long-arrow-right"></i></a>-->
							<div class="spacing10"></div>

						</div><!--/.container-->
                
					</div>
				  </div>

				</div>