{literal}
<script language="javascript" type="text/javascript">
function validate()
	{
		if(document.form1.oldpass.value	==	"")
			{
				alert("Please enter old password");
				document.form1.oldpass.focus();
				return false;
			}	
		if(document.form1.newpass.value	==	"")
			{
				alert("Please enter new password");
				document.form1.newpass.focus();
				return false;
			}
		if(document.form1.oldpass.value == document.form1.newpass.value)
			{
				alert("Old and new passwords are same, please  provide a new password.");
				document.form1.newpass.focus();
				return false;
			}	
		if(document.form1.confirmpass.value	==	"")
			{
				alert("Please confirm password");
				document.form1.confirmpass.focus();
				return false;
			}
		if(document.form1.confirmpass.value	==	"")
			{
				alert("Please confirm password");
				document.form1.confirmpass.focus();
				return false;
			}	
		if(document.form1.newpass.value != document.form1.confirmpass.value)
			{
				alert("New and confirm password are not matching.");
				document.form1.confirmpass.focus();
				return false;
			}				
			return true;	
	}
	
</script>
{/literal}
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>My Account</h3>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
              {if $TPL_MESS}<div align="center">{$TPL_MESS}</div>{/if}
            <br />
            <form id="form1" name="form1" action="" method="post" class="form-horizontal form-label-left">

                <div class="table-responsive">
                  <table class="table table-striped jambo_table bulk_action">
                    <thead>
                      <tr class="headings">
                        <th class="column-title">Change Password</th>
                        <th class="column-title">&nbsp;</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="odd pointer">
                        <td class=" ">Enter Old Password</td>
                        <td class=" "> <input class="form-control" name="oldpass" type="password" id="oldpass" size="20" maxlength="{$TPL_MAX}"/></td>
                      </tr>
                      <tr class="even pointer">
                        <td class=" ">Enter New Password</td>
                        <td class=" "><input class="form-control" name="newpass" type="password" id="newpass" size="20" maxlength="{$TPL_MAX}"/></td>
                      </tr>
                      <tr class="odd pointer">
                        <td class=" ">Confirm Password </td>
                        <td class=" "><input class="form-control" name="confirmpass" type="password" id="confirmpass" size="20" maxlength="{$TPL_MAX}"/></td>
                      </tr>
                      <tr>
                        <td class=" ">
                              <div class="form-group">
                                <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3" align="center">
                                    <input name="change" type="submit" class="btn btn-success" value="Change" onClick="return validate();"/>
                                    <input name="btn_ecancel" type="submit" id="btn_ecancel" value="Cancel"  class="btn btn-primary">
								  <!--<input name="btn_reset" type="reset" id="btn_reset" value="Reset"  class="btn btn-primary">-->
                                </div>
                              </div>
                        </td>
                        <td class=" ">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script language="javascript" type="text/javascript">
document.form1.oldpass.focus();
</script> 

{include_php file="footer.php"}
