{literal}

<script type="text/javascript" src="../tiny_mce/tiny_mce.js"></script>

<script type="text/javascript" src="../tiny_mce/tinymce.js"></script>

<script language="javascript" type="text/javascript">

function validate()

	{

		if(document.form1.txt_content.value	==	"")

			{

				alert("Please enter your content");

				document.form1.txt_content.focus();

				return false;

			}	

		

	}

	

</script>

{/literal}

<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Manage {$title} Page</h3>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
              {if $TPL_MESS}<div align="center">{$TPL_MESS}</div>{/if}
            <br />
            <form id="form1" name="form1" method="post" action="">
				<div class="table-responsive">
                    <table  border="0" width="100%" align="center" cellpadding="0" cellspacing="0" class="formTable">

                        <tr>

                        <th colspan="2">

                            {if $data_arr[0].content}

                            Change Your Content						

                            {else}

                            Add Your Content							

                            {/if}

                            </th>

                        </tr>

                        <tr>

                        <td colspan="2">&nbsp;</td></tr>

                        <tr>


                        <tr>

                            

                            <td valign="top" colspan="2">

                                <textarea style="width:100%; height:300px;" id="txt_content" name="txt_content" rows="8" cols="35"  class="mceEditor">	

                                    {if $edit_news}{$cls_site->hentity($edit_news)}{/if}

                                </textarea>

                            </td>

                        </tr>

                        

                        <tr>


                            <td style="padding-top:20px;">

                            {if $data_arr[0].content}

                            <input name="change" type="submit" class="btn btn-primary" value="Change Content" onClick="return validate();"/>

                            {else}

                            <input name="change" type="submit" class="btn btn-primary" value="Add Content" onClick="return validate();"/></td>

                            {/if}

                        </tr>

                    </table>
              	</div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script language="javascript" type="text/javascript">

document.form1.txt_content.focus();

</script> 



{include_php file="footer.php"}

