{literal}

<!-- Datatables -->
<link href="vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
<link href="vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">


<link href="css/stylecal.css" rel="stylesheet" type="text/css" />

<script language="javascript" src="js/calendor.js"></script>

<script language="javascript" type="text/javascript">

function validate_add()

	{

		if(document.add_form.subcategory.value	==	"")

			{

				alert("Please select Category");

				document.add_form.subcategory.focus();

				return false;

			}	

		if(document.add_form.txt_item.value	==	"")

			{

				alert("Please enter Item");

				document.add_form.txt_item.focus();

				return false;

			}

		if(document.add_form.txt_price.value	==	"")

			{

				alert("Please enter Price");

				document.add_form.txt_price.focus();

				return false;

			}

		if(document.add_form.txt_description.value	==	"")

			{

				alert("Please enter description");

				document.add_form.txt_description.focus();

				return false;

			}

			return true;	

	}

function validate_edit()

	{

		if(document.frm_edit.subcategory.value	==	"")

			{

				alert("Please enter subcategory");

				document.frm_edit.subcategory.focus();

				return false;

			}	

		if(document.frm_edit.items.value	==	"")

			{

				alert("Please enter Item");

				document.frm_edit.items.focus();

				return false;

			}

			if(document.frm_edit.price.value	==	"")

			{

				alert("Please enter Price");

				document.frm_edit.price.focus();

				return false;

			}	

			if(document.frm_edit.txt_description.value	==	"")

			{

				alert("Please enter Description");

				document.frm_edit.txt_description.focus();

				return false;

			}	

			return true;	

	}



function getscat(ids)

	{ 

		getAjax('ajax_check.php?action=subcategory&ids='+ids,'divscat');

	}



var imcnt	=	0;

function addmoreCat()

	{ 

		var tbody = document.getElementById("addCat").getElementsByTagName("tbody")[0];

		imcnt++;

		var row1 = document.createElement("TR");			

		var row2 = document.createElement("TR");			

		trimid		=	'tr_im'+imcnt;		

		trimid1		=	'1tr_im'+imcnt;		

		row1.setAttribute('id',trimid);

		row2.setAttribute('id',trimid1);

		rmvimg	=	"<a href=\"javascript:;\"  class='addmoreText' onclick=\"removecity('" + trimid +"','" + trimid1 + "')\">&nbsp;Remove</a>";

		var cell0= document.createElement("TD");

		var cell2= document.createElement("TD");

		cell0.setAttribute('valign','top');

		cell2.setAttribute('valign','top');

		cell0.innerHTML	=	" Dealers City / Area wise";

		

		cell2.innerHTML	=	"&nbsp;"+rmvimg;

		row1.appendChild(cell0);	

		row1.appendChild(cell2);

		tbody.appendChild(row1);	

	}

function checkAll()

{

	if(document.form_view.checkone)

		{

			document.form_view.checkone.checked=document.form_view.checkall.checked;

			for(i=0;i<document.form_view.checkone.length;i++)

			document.form_view.checkone[i].checked=document.form_view.checkall.checked;

		}

		else

		{

			alert("Nothing to select");

			document.form_view.checkall.checked=false;

			

		}

}

function Remove()

{

	

	flag = 0;

	if(document.form_view.checkone.checked)

		flag = 1;



	for(i=0;i<document.form_view.checkone.length;i++)

	{

		if(document.form_view.checkone[i].checked)

		{

			flag = 1;

			break;

		}

	}

	

if(flag == 1)

	{

		if(confirm("You are going to delete these records permenantly, Do you want to continue?"))

		{   

			

		  return true;

			

		}

		else

		{

			return false;

		}	

	}

	else

	{

		alert("No record(s) selected");

		return false;

	}	

}



</script>

{/literal}

<div class="right_col" role="main">
  <div class="">
    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Listing Contacts</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
				{if $TPL_MESS}<div align="center"><span class="label label-success">{$TPL_MESS}</span></div>{/if}
            <form id="form_view" name="form_view" method="post" action="">
                {if $data_arr}
                <table id="datatable" class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th><input name="checkall" type="checkbox" id="checkall" onClick="return checkAll()" value="CHKALL"></th>
                      <th>Name</th>
                      <th>Phone</th>
                      <th>Email</th>
                      <th>Message</th>
                      <th>Date</th>
                    </tr>
                  </thead>
    
                  <tbody>
                  {section name=i start=0 loop=$data_arr step=1}
                    <tr>
                      <td><input name="checkone[]" type="checkbox" id="checkone" value="{$data_arr[i].id}"></td>
                      <td>{$cls_site->ufirst($data_arr[i].name)}</td>
                      <td>{$cls_site->ufirst($data_arr[i].phone)}</td>
                      <td>{$cls_site->ufirst($data_arr[i].email)}</td>
                      <td>{$cls_site->ufirst($data_arr[i].message)}</td>
                      <td>{$cls_site->displayTime($data_arr[i].date_added)}</td>
                    </tr>
                    {/section}
                  </tbody>
                </table>
                {/if}
              <div><input name="btn_delete" type="submit" class="btn btn-primary" id="btn_delete" value="Delete" onClick="return Remove();"></div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{include_php file="footer.php"}

