{literal}
<!-- Datatables -->
<link href="vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
<link href="vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

<script type="text/javascript" src="../tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" src="../tiny_mce/tinymce.js"></script>

<script type="text/javascript" src="js/prototype.js"></script>
<script type="text/javascript" src="js/scriptaculous.js?load=effects,builder"></script>
<script type="text/javascript" src="js/lightbox.js"></script>
<link rel="stylesheet" href="css/lightbox.css" type="text/css" media="screen" />
<script language="javascript" type="text/javascript">
function isNumberKey(evt)
      {
         var charCode = (evt.which) ? evt.which : event.keyCode
         if (charCode > 31 && (charCode < 48 || charCode > 57))   return false;
         return true;
      }
function checkAll()
	{
		if(document.form_view.checkone)
			{
				document.form_view.checkone.checked=document.form_view.checkall.checked;
				for(i=0;i<document.form_view.checkone.length;i++)
				document.form_view.checkone[i].checked=document.form_view.checkall.checked;
			}
		else
			{
				alert("Nothing to select");
				document.form_view.checkall.checked=false;
			
			}
	}
function Remove()
	{
		flag = 0;
		if(document.form_view.checkone.checked)	flag = 1;
		for(i=0;i<document.form_view.checkone.length;i++)
			{
				if(document.form_view.checkone[i].checked)
					{
						flag = 1;
						break;
					}
			}
		if(flag == 1)
			{
				if(confirm("You are going to change status, Do you want to continue?"))	  return true;
				else return false;
			}
		else
			{
				alert("No record(s) selected");
				return false;
			}	
	}
 function addCheck()
 	{
				
		if(document.form_add.title.value == "")
			{
				alert("Please enter a title");
				document.form_add.title.focus();
				return false;
			}
		 return true;
	}
 function editCheck()
 	{
				
		if(document.form_edit.etitle.value == "")
			{
				alert("Please enter a title");
				document.form_edit.etitle.focus();
				return false;
			}
		/*if(document.form_edit.photo.value == "")
			{
				alert("Please upload image");
				document.form_edit.photo.focus();
				return false;
			}*/
		 return true;
	}
</script>
{/literal}

<div class="right_col" role="main">
  <div class="">
    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>{$tpls.heading}</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
            <span class="label label-danger" style="color:#FFF;">Please Upload the images {if $tpls.width !=""} {$tpls.width} {else} 800 {/if} X {if $tpls.height !=""} {$tpls.height} {else} 800 {/if} (width = {if $tpls.width !=""} {$tpls.width} {else} 800 {/if} pixels, Height = {if $tpls.height !=""} {$tpls.height} {else} 800 {/if} pixels)</span>
          </div>
            {if $TPL_MESS}<div align="center">{$TPL_MESS}</div>{/if}
          <div class="x_content">
            <form name="development" method="post" action="">
            <table id="datatable" class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th><input name="checkall" type="checkbox" id="checkall" onClick="return checkAll()" value="CHKALL"></th>
                  <th>{$tpls.listcaption}</th>
                  <th>{$tpls.pics}</th>
                  <th>Description</th>
                  <th>{$tpls.datedoj}</th>
                  <th>{$tpls.listoptions}</th>
                  <th>Order</th>
                </tr>
              </thead>

              <tbody>
              {section name=i start=0 loop=$data_arr step=1}
                <tr>
                  <td><input name="checkone[]" type="checkbox" id="checkone" value="{$data_arr[i].id}"> </td>
                  <td>{$cls_site->strip($data_arr[i].title)}</td>
                  <td>
                    <a href="{$tpls.imagepath}/{$data_arr[i].image}" rel="lightbox">
                      <img src="{$tpls.imagepath}/thumb/{$data_arr[i].image}" alt="" border="0" style="max-width:150px;">	
                    </a>
                  </td>
                  <td class="imageShortSize">{$cls_site->strip($data_arr[i].description)}</td>
                  <td>
                    {$cls_site->displayTime($data_arr[i].date_added)}
                  </td>
                  <td>
                      <a href="{$tpls.pagename}?edit={$data_arr[i].id}">
                        <img src="images/edit.gif" alt="down"  border="0" title="Click here to edit"/>	
                      </a>
                      {if $data_arr[i].status == "1"}
                      &nbsp;&nbsp;
                      <a href="{$tpls.pagename}?statuschange={$data_arr[i].id}">
                        <img src="images/active_1.gif" alt="down"  border="0" title="Click here to inactivate"/>
                      </a>
                      {else}
                      &nbsp;&nbsp;
                      <a href="{$tpls.pagename}?statuschange={$data_arr[i].id}">
                        <img src="images/inactive_1.gif" alt="down"  border="0" title="Click here to activate"/>
                      </a>
                      {/if}	
<!--
                      {if $tpls.childpagename}
                      <a href="{$tpls.childpagename}?cid={$data_arr[i].id}">
                        <img src="images/gallery.gif" alt="development"  border="0" title="Click here to manage development"/>	
                      </a>		
                      {/if}
-->
                  </td>
                  <td>
                    <div align="left">
                      {if $data_arr|@count  > 1}
                          {if $smarty.section.i.index == 0}
                              <a href="{$tpls.pagename1}?down={$data_arr[i].id}">
                                <img src="images/down.gif" alt="down"  border="0" />
                              </a>
                          {elseif $smarty.section.i.index+1 == $data_arr|@count}
                              <a href="{$tpls.pagename1}?up={$data_arr[i].id}">
                                <img src="images/up.gif" alt="up"  border="0" />
                              </a>
                          {else}
                              <a href="{$tpls.pagename1}?down={$data_arr[i].id}">
                                <img src="images/down.gif" alt="down"  border="0" />
                              </a>
                              &nbsp;
                              <a href="{$tpls.pagename1}?up={$data_arr[i].id}">
                                <img src="images/up.gif" alt="up"  border="0" />
                              </a>
                          {/if}
                          
                      {/if}			
                  </div>
                  </td>
                </tr>
                {/section}
              </tbody>
            </table>
            <div>
            <input style="float:right;" type="submit" name="addpres" class="btn btn-primary" value="Add Development" />   
            <input style="float:left;" name="btn_delete" type="submit" class="btn btn-primary" id="btn_delete" value="Delete" onClick="return Remove();">   
            </div>    
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{include_php file="footer.php"}
