{literal}
<!-- Datatables -->
<link href="vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
<link href="vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

<script type="text/javascript" src="js/prototype.js"></script>
<script type="text/javascript" src="js/scriptaculous.js?load=effects,builder"></script>
<script type="text/javascript" src="js/lightbox.js"></script>
<link rel="stylesheet" href="css/lightbox.css" type="text/css" media="screen" />
<script language="javascript" type="text/javascript">
function isNumberKey(evt)
      {
         var charCode = (evt.which) ? evt.which : event.keyCode
         if (charCode > 31 && (charCode < 48 || charCode > 57))   return false;
         return true;
      }

var vdcnt	=	0;
function addMore()
	{
		var tbody = document.getElementById("addTable").getElementsByTagName("tbody")[0];
		vdcnt++;
		var row1 = document.createElement("TR");			
		trvdid		=	'tr_vd'+vdcnt;	
		row1.setAttribute('id',trvdid);
		rmvvid	=	"<a href=\"javascript:;\" onclick=\"removeVideos('" + trvdid + "')\">Remove</a>";
		var cell2= document.createElement("TD");
		var cell3= document.createElement("TD");
		cell2.innerHTML = "Title"; 	
		cell3.innerHTML = "<input name='title[]' type='text' id='title[]' maxlength='50'/>&nbsp;"; 	
		var cell4= document.createElement("TD");
		var cell5= document.createElement("TD");
		cell4.innerHTML = "Image"; 			
		cell5.innerHTML = "<input type='file' name='photo_file[]' id='photo_file[]'/>&nbsp;"; 	
		var cell6= document.createElement("TD");
		cell6.innerHTML = rmvvid; 			
		row1.appendChild(cell2);	
		row1.appendChild(cell3);
		row1.appendChild(cell4);
		row1.appendChild(cell5);
		row1.appendChild(cell6);
		
		tbody.appendChild(row1);
	}
function removeVideos(id1)
	{
		document.getElementById("addTable").getElementsByTagName("tbody")[0].removeChild(document.getElementById(id1));		
	}

function checkAll()
	{
		if(document.form_view.checkone)
			{
				document.form_view.checkone.checked=document.form_view.checkall.checked;
				for(i=0;i<document.form_view.checkone.length;i++)
				document.form_view.checkone[i].checked=document.form_view.checkall.checked;
			}
		else
			{
				alert("Nothing to select");
				document.form_view.checkall.checked=false;
			
			}
	}
function Remove()
	{
		flag = 0;
		if(document.form_view.checkone.checked)	flag = 1;
		for(i=0;i<document.form_view.checkone.length;i++)
			{
				if(document.form_view.checkone[i].checked)
					{
						flag = 1;
						break;
					}
			}
		if(flag == 1)
			{
				if(confirm("You are going to change status, Do you want to continue?"))	  return true;
				else return false;
			}
		else
			{
				alert("No record(s) selected");
				return false;
			}	
	}
 function addCheck()
 	{
				
	var v_arr		=	document.getElementsByName("title[]");	
	var v_arr_file	=	document.getElementsByName("photo_file[]");
	for (var m = 0; m < v_arr.length; m++)
		{ 
			if (v_arr[m].value=="")
				{
					alert("Please enter title for image");
					v_arr[m].focus();
					return false;
				}
			if (v_arr_file[m].value=="")
				{
					alert("Please select an image");
					v_arr_file[m].focus();
					return false;
				}
		}
		 return true;	}
 function editCheck()
 	{
				
		if(document.form_edit.etitle.value == "")
			{
				alert("Please enter a title");
				document.form_edit.etitle.focus();
				return false;
			}
		/*if(document.form_edit.photo.value == "")
			{
				alert("Please upload image");
				document.form_edit.photo.focus();
				return false;
			}*/
		 return true;
	}
</script>
{/literal}

<div class="right_col" role="main">
  <div class="">
    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>{$tpls.heading}</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
<!--
          <div style="float:right;">
            <form name="form_back" method="post" action="" enctype="multipart/form-data">
              <input class="btn btn-primary" type="submit" name="back" id="back" value=" Back To Gallery" />
           </form>
          </div>
-->
          {if $TPL_MESS}<div align="center">{$TPL_MESS}</div>{/if}
          <div class="x_content">
            <form name="gallery" method="post" action="">
            <table id="datatable" class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th><input name="checkall" type="checkbox" id="checkall" onClick="return checkAll()" value="CHKALL"></th>
				  <th>Title</th>
				  <th>Image</th>
                  <th>{$tpls.datedoj}</th>
                  <th>{$tpls.listoptions}</th>
                  <th>Order</th>
                </tr>
              </thead>

              <tbody>
              {section name=i start=0 loop=$data_arr step=1}
                <tr>
                  <td><input name="checkone[]" type="checkbox" id="checkone" value="{$data_arr[i].id}"> </td>
					<td>{$cls_site->strip($data_arr[i].title)}</td>
					<td>
                    <a href="{$tpls.imagepath}/{$data_arr[i].image}" rel="lightbox">
                      <img src="{$tpls.imagepath}/thumb/{$data_arr[i].image}" alt="" border="0" style="max-width:150px;">	
                    </a>
                  </td>
                  <td>
                    {$cls_site->strip($data_arr[i].date_added)}
                  </td>
                  <td>
                    <a href="{$tpls.pagename}?edit={$data_arr[i].id}">
                      <img src="images/edit.gif" alt="down"  border="0" title="Click here to edit"/>	
                     </a>
                    {if $data_arr[i].status == "1"}
                    &nbsp;&nbsp;
                    <a href="{$tpls.pagename}?statuschange={$data_arr[i].id}">

                      <img src="images/active_1.gif" alt="down"  border="0" title="Click here to inactivate"/>
                    </a>
                    {else}
                    &nbsp;&nbsp;
                    <a href="{$tpls.pagename}?statuschange={$data_arr[i].id}">
                      <img src="./images/inactive_1.gif" alt="down"  border="0" title="Click here to activate"/>
                    </a>
                  {/if}
                  </td>
                  <td>
                    <div align="left">
                      {if $data_arr|@count  > 1}
                          {if $smarty.section.i.index == 0}
                              <a href="{$tpls.pagename}?down={$data_arr[i].id}">
                                <img src="images/down.gif" alt="down"  border="0" />
                               </a>
                          {elseif $smarty.section.i.index+1 == $data_arr|@count}
                              <a href="{$tpls.pagename}?up={$data_arr[i].id}">
                                <img src="images/up.gif" alt="up"  border="0" />
                              </a>
                          {else}
                              <a href="{$tpls.pagename}?down={$data_arr[i].id}">
                                <img src="images/down.gif" alt="down"  border="0" />
                              </a>
                              &nbsp;
                              <a href="{$tpls.pagename}?up={$data_arr[i].id}">
                                <img src="images/up.gif" alt="up"  border="0" />
                              </a>
                          {/if}
                          
                      {/if}			
                  </div>
                  </td>
                </tr>
                {/section}
              </tbody>
            </table>
            <div>
            <input style="float:right;" type="submit" name="addpres" class="btn btn-primary" value="Add Gallery" />   
            <input style="float:left;" name="btn_delete" type="submit" class="btn btn-primary" id="btn_delete" value="Delete" onClick="return Remove();">   
            </div>    
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{include_php file="footer.php"}
