{literal}

<!-- Datatables -->
<link href="vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
<link href="vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">


<script type="text/javascript" src="js/prototype.js"></script>
<script type="text/javascript" src="js/scriptaculous.js?load=effects,builder"></script>
<script type="text/javascript" src="js/lightbox.js"></script>
<link rel="stylesheet" href="css/lightbox.css" type="text/css" media="screen" />
<link rel="stylesheet" href="css/styles.css" type="text/css" media="screen" />

<script language="javascript" type="text/javascript">

function checkAll()
{
	if(document.gallery.checkone)
		{
			document.gallery.checkone.checked=document.gallery.checkall.checked;
			for(i=0;i<document.gallery.checkone.length;i++)
			document.gallery.checkone[i].checked=document.gallery.checkall.checked;
		}
	else
		{
			alert("Nothing to select");
			document.gallery.checkall.checked=false;
		
		}
}
function Remove()
{
	flag = 0;
	if(document.gallery.checkone.checked)	flag = 1;
	for(i=0;i<document.gallery.checkone.length;i++)
		{
			if(document.gallery.checkone[i].checked)
				{
					flag = 1;
					break;
				}
		}
	if(flag == 1)
		{
			if(confirm("You are going to delete the image, Do you want to continue?"))	  return true;
			else return false;
		}
	else
		{
			alert("No record(s) selected");
			return false;
		}	
}
function removeVideos(id1)
	{
		document.getElementById("addTable").getElementsByTagName("tbody")[0].removeChild(document.getElementById(id1));		
	}
</script>
{/literal}
<div class="right_col" role="main">
  <div class="">
    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>{$msg1}</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
            <span class="label label-danger" style="color:#FFF;">Please Upload the images 1000 X 500 (width = 1000 pixels, Height = 500 pixels)</span>
          </div>
            {if $TPL_MESS}<div align="center">{$TPL_MESS}</div>{/if}
          <div class="x_content">
            <form name="gallery" method="post" action="">
            <table id="datatable" class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th><input name="checkall" type="checkbox" id="checkall" onClick="return checkAll()" value="CHKALL"></th>
                  <th>Title</th>
                  <th>Image</th>
                  <th>Description</th>
                  <th>Options</th>
                  <th>Order</th>
                </tr>
              </thead>

              <tbody>
              {section name=i start=0 loop=$array step=1}
                <tr>
                  <td><input name="checkone[]" type="checkbox" id="checkone" value="{$array[i].id}"> </td>
                  <td>{$cls_site->ufirst($array[i].title)}</td>
                  <td>
                        <a href="../homeImages/{$array[i].image}" rel="lightbox">
                                <img src="../homeImages/thumb/{$array[i].image}"  border="0" style="max-width:150px;" />
                        </a>
                  </td>
                  <td>{$cls_site->ufirst($array[i].description)}</td>
                  <td>
                        <a href="homeimage_manage.php?edit1={$array[i].id} "><img src="images/edit.gif" alt="down"  border="0" title="Click here to edit"/></a>&nbsp;&nbsp;
                        {if $array[i].status=="1"}
                            <a href="homeimage.php?statuschange={$array[i].id}"><img src="images/active_1.gif" alt="down"  border="0" title="Click here to inactivate"/></a>
                        {else}
                            <a href="homeimage.php?statuschange={$array[i].id}"><img src="./images/inactive_1.gif" alt="down"  border="0" title="Click here to activate"/></a>
                       {/if}
                  </td>
                  <td>
                          <div align="left">
                                {if $array|@count  > 1}
                                    {if $smarty.section.i.index == 0}
                                        <a href="homeimage.php?down={$array[i].id}">
                                            <img src="images/down.gif" alt="down"  border="0" />
                                         </a>
                                    {elseif $smarty.section.i.index+1 == $array|@count}
                                        <a href="homeimage.php?up={$array[i].id}">
                                            <img src="images/up.gif" alt="up"  border="0" />
                                        </a>
                                    {else}
                                        <a href="homeimage.php?down={$array[i].id}">
                                            <img src="images/down.gif" alt="down"  border="0" />
                                        </a>
                                        &nbsp;
                                        <a href="homeimage.php?up={$array[i].id}">
                                            <img src="images/up.gif" alt="up"  border="0" />
                                        </a>
                                    {/if}
                                    
                                {/if}			
                        </div>
                  </td>
                </tr>
                {/section}
              </tbody>
            </table>
            <div>
            <input style="float:right;" type="submit" name="add" class="btn btn-primary" value="Add HomeImage" />   
            <input style="float:left;" name="btn_delete" type="submit" class="btn btn-primary" id="btn_delete" value="Delete" onClick="return Remove();">   
            </div>    
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{include_php file="footer.php"}
