{literal}
<!-- Datatables -->
<link href="vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
<link href="vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

<script language="javascript" type="text/javascript">
function checkAll()
	{
		if(document.frmlist.checkone)
			{
				document.frmlist.checkone.checked=document.frmlist.checkall.checked;
				for(i=0;i<document.frmlist.checkone.length;i++)
				document.frmlist.checkone[i].checked=document.frmlist.checkall.checked;
			}
		else
			{
				alert("Nothing to select");
				document.frmlist.checkall.checked=false;
			
			}
	}
function Remove()
	{
		flag = 0;
		if(document.frmlist.checkone.checked)	flag = 1;
		for(i=0;i<document.frmlist.checkone.length;i++)
			{
				if(document.frmlist.checkone[i].checked)
					{
						flag = 1;
						break;
					}
			}
		if(flag == 1)
			{
				if(confirm("You are going to delete these records permenantly, Do you want to continue?"))	  return true;
				else return false;
			}
		else
			{
				alert("No record(s) selected");
				return false;
			}	
	}
function validate_add()
	{
		var flag 	= 0;
		var arr		=	document.add_form.txt_add;
		for(var i=0;i<arr.length;i++)	if(arr[i].value!="")	flag	=	1;
		if(flag	==	0)
			{
				alert("Enter Details.");
				return false;
			}
		return true;
	}
function validate_edit()
	{
		if(document.frm_edit.txt_edit.value=="")
			{
				alert("Enter Correct Details.");
				return false;
			}
		return true;
	}

</script>
{/literal}
<div class="right_col" role="main">
  <div class="">
    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>{$tpls.heading}{if $tpls.parentpagevar} :{$tpls.parentcaption}{/if}</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div align="center"><strong>{$TPL_MESS}</strong></div>
          <div class="x_content">
				{if $smarty.request.add != ""}
                <form name="add_form" method="post" action="">			
    
                    <div class="table-responsive">
                      <table class="table table-striped jambo_table bulk_action">
                        <thead>
                          <tr class="headings">
                            <th class="column-title">{$tpls.addcaption}</th>
                            <th class="column-title">&nbsp;</th>
                            <th class="column-title">&nbsp;</th>
                          </tr>
                        </thead>
                        <tbody>
                            {assign var="count" value=0}
                            {section name=i start=0 loop=$tpls.floop}
                          <tr class="even pointer">
                            {section name=j start=0 loop=$tpls.addsplit}
                            {assign var="count" value=$count+1}	
                            <td>
                                {if $count <= $tpls.addcount}
                                <input name="txt_add[]" type="text" id="txt_add" size="30" class="form-control" maxlength="40">
                                {else}
                                &nbsp;
                                {/if}				
                            </td>
                            {/section}			
                          </tr>
                         {/section}			
                          <tr>
                          	<td class=" ">
                                  <div class="form-group">
                                    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3" align="center">
                                        <input name="btn_save" type="submit" id="btn_save" value="{$tpls.savebtnvalue}" class="btn btn-success" onClick="return validate_add();">
                                        <input name="btn_savecancel" type="submit" id="btn_savecancel" value="{$tpls.btnsavecancelvalue}" class="btn btn-primary">
                                    </div>
                                  </div>
                            </td>
                            <td class=" ">&nbsp;</td>
                            <td class=" ">&nbsp;</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                </form>
                {/if}

				{if $smarty.request.edit != ""}
                <form name="frm_edit" method="post" action="">		
    
                    <div class="table-responsive">
                      <table class="table table-striped jambo_table bulk_action">
                        <thead>
                          <tr class="headings">
                            <th class="column-title">{$tpls.edithead}</th>
                            <th class="column-title">&nbsp;</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="even pointer">
                            <td class=" ">{$tpls.editcaption}</td>
                            <td class=" "><input class="form-control" name="txt_edit" type="text" id="txt_edit" size="30" value="{$tpls.updatetxtlvalue}" maxlength="40"></td>
                          </tr>
                          <tr>
                          	<td class=" ">
                                  <div class="form-group">
                                    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3" align="center">
                                        <input name="btn_edit" type="submit" id="btn_edit" value="{$tpls.updatebtnvalue}" class="btn btn-success" onClick="return validate_edit();">
                                        <input name="btn_editcancel" type="submit" id="btn_editcancel" value="{$tpls.btnupdatecancelvalue}"  class="btn btn-primary">
                                    </div>
                                  </div>
                            </td>
                            <td class=" ">&nbsp;</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                </form>
                <script language="javascript" type="text/javascript">
					document.form_edit.etitle.focus();
                </script>
                {/if}

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{include_php file="footer.php"}
