{literal}
<!-- Datatables -->
<link href="vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
<link href="vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

<script language="javascript" type="text/javascript">
function checkAll()
	{
		if(document.frmlist.checkone)
			{
				document.frmlist.checkone.checked=document.frmlist.checkall.checked;
				for(i=0;i<document.frmlist.checkone.length;i++)
				document.frmlist.checkone[i].checked=document.frmlist.checkall.checked;
			}
		else
			{
				alert("Nothing to select");
				document.frmlist.checkall.checked=false;
			
			}
	}
function Remove()
	{
		flag = 0;
		if(document.frmlist.checkone.checked)	flag = 1;
		for(i=0;i<document.frmlist.checkone.length;i++)
			{
				if(document.frmlist.checkone[i].checked)
					{
						flag = 1;
						break;
					}
			}
		if(flag == 1)
			{
				if(confirm("You are going to delete these records permenantly, Do you want to continue?"))	  return true;
				else return false;
			}
		else
			{
				alert("No record(s) selected");
				return false;
			}	
	}
function validate_add()
	{
		var flag 	= 0;
		var arr		=	document.add_form.txt_add;
		for(var i=0;i<arr.length;i++)	if(arr[i].value!="")	flag	=	1;
		if(flag	==	0)
			{
				alert("Enter Details.");
				return false;
			}
		return true;
	}
function validate_edit()
	{
		if(document.frm_edit.txt_edit.value=="")
			{
				alert("Enter Correct Details.");
				return false;
			}
		return true;
	}

</script>
{/literal}
<div class="right_col" role="main">
  <div class="">
    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>{$tpls.heading}{if $tpls.parentpagevar} :{$tpls.parentcaption}{/if}</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div align="center"><strong>{$TPL_MESS}</strong></div>
          <div class="x_content">
          {if $tpls.dataarray && $smarty.request.add==""}
          
            <form id="frmlist" name="form_view" method="post" action="">
            <table id="datatable" class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th><input name="checkall" type="checkbox" id="checkall" onClick="return checkAll()" value="CHKALL"></th>
                  <th>{$tpls.listcaption}</th>
                  <th>{$tpls.listoptions}</th>
                  <th>{$tpls.preference}</th>
                </tr>
              </thead>

              <tbody>
              {section name=i start=0 loop=$tpls.dataarray step=1}
                <tr>
                  <td><input name="checkone[]" type="checkbox" id="checkone" value="{$tpls.dataarray[i].id}"></td>
                  <td>
                        {if $tpls.childpagename}
                        <a href="{$tpls.childpagename}?{$tpls.childpagevar}={$tpls.dataarray[i][$tpls.table.primary]}">{$cls_site->strip($tpls.dataarray[i][$tpls.table.name])}</a>
                        {else}
                        {$cls_site->strip($tpls.dataarray[i][$tpls.table.name])}
                        {/if}			
                  </td>
                  <td>
                        <a href="{$tpls.pagename}?edit={$tpls.dataarray[i][$tpls.table.primary]}{if $tpls.parentpagevar}&{$tpls.parentpagevar}={$tpls.parentpagevarval}{/if}"><img src="images/edit.gif" alt="down"  border="0" title="Click here to edit"/>	</a>
                        {if $tpls.dataarray[i][$tpls.table.status] == "1"}
                        &nbsp;&nbsp;<a href="{$tpls.pagename}?statuschange={$tpls.dataarray[i][$tpls.table.primary]}{if $tpls.parentpagevar}&{$tpls.parentpagevar}={$tpls.parentpagevarval}{/if}"><img src="images/active_1.gif" alt="down"  border="0" title="Click here to inactivate"/></a>
                        {else}
                        &nbsp;&nbsp;<a href="{$tpls.pagename}?statuschange={$tpls.dataarray[i][$tpls.table.primary]}{if $tpls.parentpagevar}&{$tpls.parentpagevar}={$tpls.parentpagevarval}{/if}"><img src="./images/inactive_1.gif" alt="down"  border="0" title="Click here to activate"/></a>
                        {/if}			
                  </td>
                  <td>
                        <div align="left">
                        {if $tpls.dataarray|@count  > 1}
                            {if $smarty.section.i.index == 0}
                                <a href="{$tpls.pagename}?sortdown={$tpls.dataarray[i][$tpls.table.primary]}{if $tpls.parentpagevar}&{$tpls.parentpagevar}={$tpls.parentpagevarval}{/if}"><img src="images/down.gif" alt="down"  border="0" /></a>
                            {elseif $smarty.section.i.index+1 == $tpls.dataarray|@count}
                                <a href="{$tpls.pagename}?sortup={$tpls.dataarray[i][$tpls.table.primary]}{if $tpls.parentpagevar}&{$tpls.parentpagevar}={$tpls.parentpagevarval}{/if}"><img src="images/up.gif" alt="up"  border="0" /></a>
                            {else}
                                <a href="{$tpls.pagename}?sortdown={$tpls.dataarray[i][$tpls.table.primary]}{if $tpls.parentpagevar}&{$tpls.parentpagevar}={$tpls.parentpagevarval}{/if}"><img src="images/down.gif" alt="down"  border="0" /></a>
                                &nbsp;
                                <a href="{$tpls.pagename}?sortup={$tpls.dataarray[i][$tpls.table.primary]}{if $tpls.parentpagevar}&{$tpls.parentpagevar}={$tpls.parentpagevarval}{/if}"><img src="images/up.gif" alt="up"  border="0" /></a>
                            {/if}
                            
                        {/if}			
                        </div>
                  </td>
                </tr>
                {/section}
              </tbody>
            </table>
                  <div> 
                    {if $smarty.request.add	==""}
                    <input style="float:right;" name="add_btn" type="submit" id="add_btn" value="{$tpls.addbtnvalue}" class="btn btn-primary" >
                    <input style="float:left;" name="btn_delete" type="submit" class="btn btn-primary" id="btn_delete" value="Delete" onClick="return Remove();">
                    {/if}
                    {if $tpls.parentpagevar} 
                    &nbsp;
                    <input name="btn_parent" type="submit" class="btn btn-primary" id="btn_parent" value="{$tpls.parentBtnBack}" onClick="">
                    {/if}
                  </div>
          </form>
			<script language="javascript" type="text/javascript">
            document.frm_edit.txt_edit.focus();
            </script> 
            {/if}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



{include_php file="footer.php"}
