{literal}
<!-- Datatables -->
<link href="vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
<link href="vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
<link href="vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

<script language="javascript" type="text/javascript">
function checkAll()
		{
			if(document.form_view.checkone)
				{
					document.form_view.checkone.checked=document.form_view.checkall.checked;
					for(i=0;i<document.form_view.checkone.length;i++)
					document.form_view.checkone[i].checked=document.form_view.checkall.checked;
				}
				else
				{
					alert("Nothing to select");
					document.form_view.checkall.checked=false;
					
				}
		}

function Remove()
{
	
	flag = 0;
	if(document.form_view.checkone.checked)
		flag = 1;

	for(i=0;i<document.form_view.checkone.length;i++)
	{
		if(document.form_view.checkone[i].checked)
		{
			flag = 1;
			break;
		}
	}
	
	if(flag == 1)
		{
			if(confirm("You are going to delete these records permenantly, Do you want to continue?"))
			{   
				
			  return true;
				
			}
			else
			{
				return false;
			}	
		}
		else
		{
			alert("No record(s) selected");
			return false;
		}	
}


function validate_add()
	{
		if(!validation('name','Please enter name','null')) return false;
		if(!validation('email','Please enter email address','null')) return false;
		else
		{
				  str =document.getElementById('email').value;
				re = /^[\w-]+(\.[\w-]+)*@([\w-]+\.)+[a-zA-Z]{2,7}$/;
				if (!str.match(re)) 
				{   	
						alert("Verify the e-mail address format.");
						document.getElementById('email').focus();
					return false;
				}
		}
		if(!validation('cont_no','Please enter contact number','null')) return false;
		if(!validation('username','Please enter username','null')) return false;
		if(!validation('password','Please enter password','null')) return false;
		var flag 	= 0;
		var arr		=	document.add_form.agent_pages;
		for(var i=0;i<arr.length;i++)	if(arr[i].value!="")	flag	=	1;
		if(flag	==	0)
			{
				alert("Enter Details.");
				document.add_form.agent_pages[0].focus();	
				return false;
			}
		return true;
	}

function validate_edit()
	{
		if(!validation('ename','Please enter name','null')) return false;
		if(!validation('eemail','Please enter email address','null')) return false;
		else
		{
				  str =document.getElementById('eemail').value;
				re = /^[\w-]+(\.[\w-]+)*@([\w-]+\.)+[a-zA-Z]{2,7}$/;
				if (!str.match(re)) 
				{   	
						alert("Verify the e-mail address format.");
						document.getElementById('eemail').focus();
					return false;
				}
		}
		if(!validation('econt_no','Please enter contact number','null')) return false;
		if(!validation('eusername','Please enter username','null')) return false;
		if(!validation('epassword','Please enter password','null')) return false;
		return true;
	}

function validate_per_edit()
	{
		var flag 	= 0;
		var arr		=	document.add_form.agent_pages;
		for(var i=0;i<arr.length;i++)	if(arr[i].value!="")	flag	=	1;
		if(flag	==	0)
			{
				alert("Enter Details.");
				document.add_form.agent_pages[0].focus();	
				return false;
			}
		return true;
	}




	
	
</script>
{/literal}
<div class="right_col" role="main">
  <div class="">
    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>{$tpls.heading}</h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
            
          </div>
            {if $TPL_MESS}<div align="center">{$TPL_MESS}</div>{/if}
            
              <div class="x_content">
                {if $smarty.request.add != ""}
                    <form name="add_form" method="post" action="" enctype="multipart/form-data">	
        
                        <div class="table-responsive">
                          <table class="table table-striped jambo_table bulk_action">
                            <thead>
                              <tr class="headings">
                                <th class="column-title">Add Vendor</th>
                                <th class="column-title">&nbsp;</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr class="odd pointer">
                                <td class=" ">
                                    Name<br />
                                </td>
                                <td class=" "><input type="text" name="name" id="name" class="form-control"/></td>
                              </tr>
                              <tr class="even pointer">
                                <td class=" ">
                                    Email<br />
                                </td>
                                <td class=" "><input type="text" name="email" id="email" class="form-control"/></td>
                              </tr>
                              <tr class="even pointer">
                                <td class=" ">
                                    Contact No<br />
                                </td>
                                <td class=" "><input type="text" name="cont_no" id="cont_no" class="form-control" /></td>
                              </tr>
                              <tr class="even pointer">
                                <td class=" ">
                                    Username<br />
                                </td>
                                <td class=" "><input type="text" name="username" id="username" class="form-control"/></td>
                              </tr>
                              <tr class="even pointer">
                                <td class=" ">
                                    Password<br />
                                </td>
                                <td class=" "><input type="text" name="password" id="password" class="form-control"/></td>
                              </tr>
                              <tr class="even pointer">
                                <td class=" ">
                                    Pages for this Vendor<br />
                                </td>
                                <td class=" ">
                                    {section name=i start=0 loop=$dist_arr}
                                        <input type="checkbox" name="agent_pages[]" id="agent_pages" value="{$dist_arr[i].id}"/>
                                        {$dist_arr[i].pages}&emsp;
                                    {/section}
                                </td>
                              </tr>
                              <tr>
                                <td class=" ">
                                      <div class="form-group">
                                        <div class="col-xs-12 col-md-offset-3" align="left">
                                            <input type="submit" name="btn_save" value="Submit" class="btn btn-success" onClick="return validate_add();" />
                                            <input type="submit" name="btn_savecancel" value="Cancel" class="btn btn-primary" />
                                        </div>
                                      </div>
                                </td>
                                <td class=" ">&nbsp;</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                    </form>
                    {/if}
                    
                    {if $smarty.request.edit != ""}
                    <form name="add_form" method="post" action="" enctype="multipart/form-data">	
        
                        <div class="table-responsive">
                          <table class="table table-striped jambo_table bulk_action">
                            <thead>
                              <tr class="headings">
                                <th class="column-title">Edit Vendor</th>
                                <th class="column-title">&nbsp;</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr class="odd pointer">
                                <td class=" ">
                                    Name<br />
                                </td>
                                <td class=" "><input type="text" name="ename" value="{$edit_arr[0].name}" class="form-control"/></td>
                              </tr>
                              <tr class="even pointer">
                                <td class=" ">
                                    Email<br />
                                </td>
                                <td class=" "><input type="text" name="eemail" value="{$edit_arr[0].email}" class="form-control"/></td>
                              </tr>
                              <tr class="even pointer">
                                <td class=" ">
                                    Contact No<br />
                                </td>
                                <td class=" "><input type="text" name="econt_no" value="{$edit_arr[0].cont_no}" class="form-control" /></td>
                              </tr>
                              <tr class="even pointer">
                                <td class=" ">
                                    Username<br />
                                </td>
                                <td class=" "><input type="text" name="eusername" value="{$edit_arr[0].username}" class="form-control"/></td>
                              </tr>
                              <tr class="even pointer">
                                <td class=" ">
                                    Password<br />
                                </td>
                                <td class=" "><input type="text" name="epassword" value="{$edit_arr[0].password}" class="form-control"/></td>
                              </tr>
                              <tr>
                                <td class=" ">
                                      <div class="form-group">
                                        <div class="col-xs-12 col-md-offset-3" align="left">
                                            <input type="submit" name="btn_edit" value="Submit" class="btn btn-success" onClick="return validate_add();" />
                                            <input type="submit" name="btn_editcancel" value="Cancel" class="btn btn-primary" />
                                        </div>
                                      </div>
                                </td>
                                <td class=" ">&nbsp;</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                    </form>
                    {/if}
                    
                    {if $smarty.request.view != ""}
                    {literal}
                   <form name="form_add" method="post" action="" enctype="multipart/form-data">	
        
                        <div class="table-responsive">
                          <table class="table table-striped jambo_table bulk_action">
                            <thead>
                              <tr class="headings">
                                <th class="column-title">
                                    <div style="float:left;">View more details for thi vendor</div>
                                    <div align="right"><input type="submit" name="btn_savecancel" value="Back" class="btn btn-primary" /></div>
                                </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                              	<td>
                                	<table class="table table-striped jambo_table bulk_action">
                                        <tr>
                                            <td >Name</td>
                                            <td >
                                                : {$cls_site->uwords($view_arr[0].name)}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td >Email</td>
                                            <td >
                                                : {$cls_site->uwords($view_arr[0].email)}     
                                            </td>
                                        </tr>
                                        <tr>
                                            <td >Contact No</td>
                                            <td >: {$cls_site->uwords($view_arr[0].cont_no)} </td>
                                        </tr> 
                                        <tr>
                                            <td >Username</td>
                                            <td >: {$cls_site->uwords($view_arr[0].username)} </td>
                                        </tr> 
                                        <tr>
                                            <td >Password</td>
                                            <td >: {$cls_site->uwords($view_arr[0].password)} </td>
                                        </tr> 
                                        <tr>
                                            <td>Account No</td>
                                            <td>
                                                 {$cls_site->uwords($view_arr[0].account_no)}
                                            </td>
                                        </tr> 
                                        <tr>
                                            <td >Bank Name</td>
                                            <td > : {$cls_site->uwords($view_arr[0].bank_name)}</td>
                                        </tr>
                                        <tr>
                                            <td >IFSC Code</td>
                                            <td > : {$cls_site->uwords($view_arr[0].ifsc)}</td>
                                        </tr>  
                                        <tr>
                                            <td valign="top">Country</td>
                                            <td > : {$cls_site->uwords($view_arr[0].country)}</td>
                                        </tr>
                                        <tr>
                                            <td valign="top">City</td>
                                            <td > : {$cls_site->uwords($view_arr[0].city)}</td>
                                        </tr>
                                        <tr>
                                            <td valign="top">Zip Code</td>
                                            <td > : {$cls_site->uwords($view_arr[0].zip_code)}</td>
                                        </tr>
                                        <tr>
                                            <td valign="top">Photograph</td>
                                            <td > : 
                                            	<a href="{$tpls.imagepath}/{$view_arr[0].image}" rel="lightbox">
                                                    <img src="{$tpls.imagepath}/thumb/{$view_arr[0].image}" alt="{$view_arr[0].name}">	
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top">About Agent</td>
                                            <td > : {$cls_site->uwords($view_arr[0].about)}</td>
                                        </tr>
                                     </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                    </form>
                    {/if}

                    {if $smarty.request.per != ""}
                    <form name="add_form" method="post" action="" enctype="multipart/form-data">	
        
                        <div class="table-responsive">
                          <table class="table table-striped jambo_table bulk_action">
                            <thead>
                              <tr class="headings">
                                <th class="column-title">Set Permissin for {$arr[0].name}</th>
                              </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><strong>Pages<span style="color:#F00">*</span></strong></td>
                                </tr>
                                <tr>
                                    <td>
                                        {section name=i start=0 loop=$dist_arr}
                                            <input type="checkbox" name="agent_pages[]" id="agent_pages" value="{$dist_arr[i].id}" 
                                            {section name=j start=0 loop=$per_arr} 
                                                {if $per_arr[j] == $dist_arr[i].id} checked="checked" 
                                                {/if} 
                                            {/section}/>
                                            {$dist_arr[i].pages}&emsp;
                                        {/section}
                                    </td>
                                </tr>
                                <tr>
                                    <td class=" ">
                                          <div class="form-group">
                                            <div class="col-xs-12 col-md-offset-3" align="left">
                                                <input type="submit" name="btn_per_edit" value="Submit" class="btn btn-success" onClick="return validate_add();" />
                                                <input type="submit" name="btn_per_cancel" value="Cancel" class="btn btn-primary" />
                                            </div>
                                          </div>
                                    </td>
                                </tr>
                            </tbody>
                          </table>
                        </div>
                    </form>
                    {/if}
        
              </div>
            
            {if $smarty.request.add=="" and $smarty.request.view==""}
              <div class="x_content">
                <form name="form_view" method="post" action="">
                <table id="datatable" class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th><input name="checkall" type="checkbox" id="checkall" onClick="return checkAll()" value="CHKALL"></th>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Contact No</th>
                      <th>Username</th>
                      <th>Password</th>
                      <th>Options</th>
                    </tr>
                  </thead>
    
                  <tbody>
                  {section name=i start=0 loop=$data_arr step=1}
                    <tr>
                      <td><input name="checkone[]" type="checkbox" id="checkone" value="{$data_arr[i].id}"> </td>
                      <td>{$cls_site->ufirst($data_arr[i].name)}</td>
                      <td>{$data_arr[i].email}</td>
                      <td>{$data_arr[i].cont_no}</td>
                      <td>{$data_arr[i].username}</td>
                      <td>{$data_arr[i].password}</td>
                      <td>
                        <div align="left">
                            <a href="vendors.php?edit={$data_arr[i].id}" class="btn btn-info btn-xs" title="Click here to edit this record">
                            <i class="fa fa-pencil"></i> Edit
                            </a>
                            {if $data_arr[i].status == "1"}
                            &nbsp;&nbsp;
                            <a href="vendors.php?statuschange={$data_arr[i].id}" class="btn btn-success btn-xs" title="Click here to inactivate this record">
                            	<i class="fa fa-check"></i> Block
                          	</a>
                            {else}
                            &nbsp;&nbsp;
                            <a href="vendors.php?statuschange={$data_arr[i].id}" class="btn btn-danger btn-xs" title="Click here to Active this record">
                            	<i class="fa fa-remove"></i> Activate
                            </a>
                            {/if}
                            <a href="{$tpls.pagename}?view={$data_arr[i].id}" class="btn btn-primary btn-xs"><i class="fa fa-eye"></i> View </a>
                            &nbsp;&nbsp;
                            <a href="vendors.php?per={$data_arr[i].id}" class="btn btn-info btn-xs" title="Click here to set permission this record">
                            <i class="fa fa-adjust"></i> Permissions
                            </a>
                        </div>
                      </td>
                    </tr>
                    {/section}
                  </tbody>
                </table>
                <div>
                <input style="float:left;" name="btn_delete" type="submit" class="btn btn-primary" id="btn_delete" value="Delete" onClick="return Remove();">
                </form>
                
                <form name="frm_form" method="post" action="">
                  <div align="right">       
                    {if $smarty.request.add	==""}
                    <input style="float:right;" type="submit" name="add_btn" class="btn btn-primary" value="Add Vendor" /> 
                    {/if}
                    
                  </div>
                </form>	
                </div> 
              {/if}   
          </div>
        </div>
      </div>
    </div>
</div>


{include_php file="footer.php"}
