body {
	margin:10px;
	background-color:#FFFFFF;
	font: 14px Helvetica, Sans-Serif;
}
a	{ 
	text-decoration: none;
	color:#939090;
}

body, td, input, select, textarea {
	font-family:Arial, Trebuchet MS, Tahoma, Verdana, Helvetica, sans-serif;
	font-size:13px;
}

th {
	font-weight:bold;
	text-align:left;
	font-family:Arial, Verdana, Tahoma;
	font-size:13px;
}

table {
	border-collapse:collapse;
}

form {
	margin:0px;
}

a:hover {
	text-decoration:none;
	color:#708FDA;
}

.subButton {
	border:1px solid #DADACD;
	background-color:#FFF;
	height:22px;
	color:#A59687;
	font-size:15px;
	font-weight:bold;
	padding-bottom:3px;
	cursor:pointer;
}




/*************************************************************************************/

.headerInfoArea {
	text-align:right;
	vertical-align:bottom;
	padding:10px;
	line-height:180%;
	color:#A6A68A;
}

.footerArea {
	padding-top:20px;
	padding-bottom:20px;
	text-align:center;
	color:696a69;
/*	border-top:inset#26737a;
*/}

.footerArea a {
	color:#A6A68A;
}



.footerArea a:hover {
	color:#990033;
}


table.tblTopMenu td {
	height:27px;
	font-weight:bold;
	font-family:Arial, Verdana, Tahoma;
	color:#A6A68A;
	font-size:13px;
}

table.tblTopMenu td.menuRight {
	background-image:url(images/menubg_right.gif);
	width:10px;
}



table.tblTopMenu td.menuMid a {
	color:#A6A68A;
	text-decoration:none;
}





.contentCurveBoxArea {
	vertical-align:top;
	padding:12px;
}

.contentArea {
	vertical-align:top;
	height:450px;
}

.pageHead {
	padding:3px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:normal;
	color:#A6A68A;

}

.textHead {
color:#494948;
font-size:14px;
}


.pageText {
	line-height:185%;
}


.leftMenuArea {
	vertical-align:top;
	padding-top:12px;
	padding-bottom:12px;
}

table.tvc_leftMenu th {
	color:#000000;
	padding-left:10px;
	text-align:left;
	height:28px;
}


table.tvc_leftMenu td {
	text-align:left;
	color:#FF0000;
	height:28px;
	border-bottom:thin;
	padding-left:10px;
}

table.tvc_leftMenu a {
	text-decoration:none;
	color:#999999;
	font-weight:500;
}

table.tvc_leftMenu a:hover {
	color:#c8c85c;
	text-decoration:none;
}

table.formTable td {
	text-align:left;
	color:#A6A68A;
	font-weight:lighter;
	padding-top:7px;
}
table.formTable th {
	padding:3px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	color:#A6A68A;
}

table.formTable td.sectionHead {
	padding:4px;
	padding-top:10px;
	color:#FFFFFF;
	text-align:left;
	height:20px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	border-bottom:2px solid #B9D1B7;
	border-left:1px solid #FFFFFF;
	border-right:1px solid #FFFFFF;
	border-top:1px solid #B9D1B7;
	background-color:#FFFFFF;
}
/*
	List Table
*/




.admintext {
	color:80878d;
	padding-left:20px;
}

.errMessage {
	text-align:center;
	color:#FF0000;
	font-size:14px;
	font-weight:bold;
}

.mustField {
	text-align:right;
	color:#d7f7fa;
	padding-bottom:2px;
}

.optioNal {
	color:#999999;
}

.buttonRow 	{
		padding-top:10px;
}

/* 
	Paging
*/
.classPaging {
	text-align:center;
}

.classPaging a {
	color:#0099E0;
	text-decoration:none;
}

.classPaging a:hover {
	text-decoration:none;
}

.classPaging span {
	font-weight:bold;
	color:#FF3366;
}


table.formTable td.boxTopLeft	{
	background-image:url(../images/box_top_left.jpg);
	background-repeat:no-repeat;
	width:21px;
	height:28px;
	background-color:#DADACD;
}

table.formTable td.boxTopStrip	{
	background-image:url(../images/box_top_strip.jpg);
	background-repeat:repeat-x;
	background-color:#DADACD;
	color:#fff;
	font-size:14px;
	font-weight:bold;
	vertical-align:top;
}
table.formTable td.boxTopStrip td	{
	color:#fff;
	font-size:14px;
	font-weight:bold;
	vertical-align:top;
	text-align:left;
}

table.formTable td.boxTopRight	{
	background-image:url(../images/box_top_right.jpg);
	background-repeat:no-repeat;
	width:21px;
	height:28px;
	background-color:#DADACD;
}

table.formTable td.boxLeftStrip	{
	background-image:url(../images/box_left_strip.jpg);
	background-repeat:repeat-y;
	width:21px;
}

table.formTable td.boxRightStrip	{
	background-image:url(../images/box_right_strip.jpg);
	background-repeat:repeat-y;
	width:21px;
}

table.formTable td.boxBottomLeft	{
	background-image:url(../images/box_bottom_left.jpg);
	background-repeat:no-repeat;
	width:21px;
	height:28px;
}

table.formTable td.boxBottomStrip	{
	background-image:url(../images/box_bottom_strip.jpg);
	background-repeat:repeat-x;
	height:27px;
}

table.formTable td.boxBottomRight	{
	background-image:url(../images/box_bottom_right.jpg);
	background-repeat:no-repeat;
	width:21px;
	height:28px;
}
.addmoreText	{
	font-weight:bold;
	font-size:14px;
}
.profText	td{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#000;
	text-align:justify;
	line-height:25px;
	vertical-align:top;
	height:35px;
}
